@keyframes fade {
	0% {color: rgb(255, 0, 0);}
	25% {color: rgb(255, 50, 50);}
	50% {color: rgb(255, 100, 100);}
	75% {color: rgb(255, 50, 50);}
	100% {color: rgb(255, 0, 0);}
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

body {
	cursor: default;
	background-image: url("../img/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.content {
	display: flex;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 5px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 800px;
	border:	thin solid;
}

.top_section {
	margin: auto;
	margin-top: 35px;
	margin-bottom: 20px;

	display: flex;
	flex-direction: horizontal;
	justify-content: space-around;
	border: thin solid black;
	background-color: rgba(0, 0, 0, 0.65);
	color: white;
	text-decoration: none;
	font-family: "DejaVu Sans",'Gill Sans', Courier New, Courier, monospace;
	font-size: 40px;
	font-weight: lighter;
}

.top_section > a {
	color: rgb(80, 80, 255);
	margin-left: 20px;
	margin-right: 20px;
}

.top_section > a.selected:link {
	text-decoration: underline;
	color: rgb(80, 80, 255);
}

.top_section > a.selected:visited {
	text-decoration: underline;
	color: rgb(80, 80, 255);
}

.top_section > a.selected:hover {
	text-decoration: underline;
	color: rgb(80, 80, 255);
}

.top_section > a.selected:active {
	text-decoration: underline;
	color: rgb(80, 80, 255);
}

.top_section > a:link {
	text-decoration: none;
}

.top_section > a:visited {
	text-decoration: none;
}

.top_section > a:hover {
	text-decoration: none;
	color: rgb(150, 150, 255);
}

.top_section > a:active {
	text-decoration: none;
}

.title {
	margin-top: 25px;
	margin-bottom: 0;
	text-align: center;
	color: white;
	font-family: "DejaVu Sans";
	font-size: 100px;
	font-weight: lighter;
}

.under_title {
	text-align: center;
	color: white;
	font-family: "DejaVu Sans";
	font-size: 25px;
	font-weight: lighter;
}

.release_date {
	margin-top: 35px;
	margin-bottom: 20px;
	text-align: center;
	color: rgb(255, 50, 50);
}

.release_date > h1 {
	font-family: "DejaVu Sans", 'Gill Sans', Courier New, Courier, monospace;
	font-size: 60px;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0;
	animation-name: fade;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

.trailer {
	margin: auto;
	margin-bottom: 25px;
	margin-top: 50px;
	border: thin solid;
}

<<<<<<< HEAD
.gallery {
	margin:auto;
=======
/* about.html */
.info {
	margin: auto;
	width: 750px;
>>>>>>> 67e2033090d85a0782343c085d365b0b8ad9bd8b
}

.info_text {
	color: white;
}
